<h1>Equipes</h1>

<table class="responsive nowrap table table-hover" id="dttb-teams" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="name">Name</th>
      <th data-data="project">Project</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
    <% @teams.each do |team|%>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.project.name %></td>
        <td><%= link_to 'Detalhes', team %></td>
      </tr>
    <% end %>
  </thead>

</table>

<br>

<%= link_to 'Nova Equipe', new_team_path %> |
<%= link_to 'Home', root_path %>