<table id="example" class="display">
  <thead>
    <th>Nome</th>
    <th>Classe</th>
    <th>Agente</th>
    <th>Encode</th>
    <th>Url</th>
  </thead>
  <tbody>
    <% @dados_excecao.each do |dado| %>
      <tr>
        <td><%= dado.acao.nome %></td>
        <td><%= dado.acao.classe %></td>
        <td><%= dado.agent %></td>
        <td><%= dado.encode %></td>
        <td><%= dado.http.view_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
      $("#example").dataTable();
  });
</script>