<h1><%= t('developers') %></h1>

<table class="responsive nowrap table table-hover" id="all_developers" data-sort="true">
  <thead>
    <tr>
      <th data-data="email">Email</th>
      <th data-data="admin">Admin</th>
      <th data-data="name"><%= t('developer.team') %></th>
      <th></th>
    </tr>
  </thead>
    <% @developers.each do |developer|%>
      <tr>
        <td><%= developer.email %></td>
        <td><%= developer.admin %></td>
        <td><%= developer.team && developer.team.name %></td>
        <td><%= link_to t('show'), developer %></td>
      </tr>
    <% end %>

</table>

<br>

<%
=begin%>
 <%= link_to 'New developer', new_developer_path %> | 
<%
=end%>

<script>
  $(document).ready( function () {
    $('#all_developers').DataTable();
  } );
</script>