<p id="notice"><%= notice %></p>

<p>
  <strong>email:</strong>
  <%= @developer.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @developer.admin %>
</p>

<p>
  <strong>Equipe:</strong>
  <%= @developer.team && @developer.team.name %>
</p>

<%= link_to 'Edit', edit_developer_path(@developer) %> | 
<%= link_to 'Back', developers_path %>
