<p id="notice"><%= notice %></p>

<p>
  <strong>email:</strong>
  <%= @developer.email %>
</p>

<p>
  <strong><%= t('developer.Role') %>:</strong>
  <% if @developer.admin %>
    <%= t('developer.Admin') %>
  <% else %>
    <%= t('developer.Developer') %>
  <% end %>
</p>

<p>
  <strong><%= t('developer.team') %>:</strong>
  <%= @developer.team && @developer.team.name %>
</p>

<%= link_to t('edit'), edit_developer_path(@developer) %> | 
<%= link_to t('back'), developers_path %>
