<%= form_with(model: dono_excecao, local: true) do |form| %>
  <% if dono_excecao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dono_excecao.errors.count, "error") %> prohibited this dono_excecao from being saved:</h2>

      <ul>
      <% dono_excecao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_developer.admin %>
    <div class="field">
      <%= form.label :developer_id %>
      <table class="responsive nowrap table table-hover" id="edit_dono_excecao" data-sort="true">
        <thead>
          <tr>
            <th></th>
            <th data-data="email">Email</th>
            <th data-data="admin">Admin</th>
            <th data-data="name"><%= t('developer.team') %></th>
            <th data-data="solved"><%= t('team.solved') %></th>
            <th data-data="ownered"><%= t('team.assigned') %></th>
          </tr>
        </thead>
      <% @developers.each do |developer| %>
        <tr>
          <% if(developer.id == dono_excecao.developer_id) %>
            <td><%= radio_button_tag 'dono_excecao[developer_id]', developer.id, checked: true %></td>
          <% else %>
            <td><%= radio_button_tag 'dono_excecao[developer_id]', developer.id %></td>
          <% end %>
          <td><%= developer.email %></td>
          <td><%= developer.admin %></td>
          <td><%= developer.team && developer.team.name %></td>
          <td><%= developer.done_exceptions %></td>
          <td><%= developer.ownered_count %></td>
        </tr>
      <% end %>
      </table>
    </div>
  <% else %>
    <div class="field">
      <%= form.label :developer_id, t('exception.owner') %>
      <input 
        type="checkbox" 
        name="dono_excecao[developer_id]" 
        value=<%= current_developer.id%> 
        checked=<%= current_developer.id == dono_excecao.developer_id%> />
  <% end %>

  <% if dono_excecao.developer_id.present? && (current_developer.id == dono_excecao.developer_id || current_developer.admin) %>
    <div class="field">
      <%= form.label :solved %>
      <%= form.radio_button :solved, false, :value => false%>
      <%= t('negative') %>
      <%= form.radio_button :solved, true, :value => true%>
      <%= t('positive') %>
    </div>

    <div class="field">
      <%= form.label :evaluate %>
      <% DonoExcecao.evaluates.keys.each do |evaluate| %>
        <br><%= form.radio_button :evaluate, evaluate %>
        <%= evaluate.humanize %>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :observation %>
      <br><%= form.text_area :observation %>
    </div>
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  $(document).ready( function () {
    $('#edit_dono_excecao').DataTable();
  } );
</script>