<p id="notice"><%= notice %></p>

<p>
<strong>Error:</strong>
<%= @excecao.error %>
<br>

<p>
<strong><%= t('exception.createdAt') %>:</strong>
<%= @excecao.created_at.to_time.strftime("%d/%m/%Y") %>

<% if @excecao.dono_excecao.present? && @excecao.dono_excecao.developer.present? %>
  <p>
  <strong><%= t('exception.owner') %>:</strong>
  <%= @excecao.dono_excecao.developer.email %>

  <p>
  <strong><%= t('exception.assignAt') %>:</strong>
  <%= @excecao.dono_excecao.created_at.strftime("%d/%m/%Y") %>

  <% if @excecao.dono_excecao.solved %>
    <p>
    <strong><%= t('exception.solvedAt') %>:</strong>
    <%= @excecao.dono_excecao.updated_at.to_time.strftime("%d/%m/%Y")%>
  <% end %>

<% end %>

<% if @excecao.acao.present? %>
  <p>
  <strong><%= t('exception.actionName') %>:</strong>
  <%= @excecao.acao.nome %>
  <br>

  <p>
  <strong><%= t('exception.actionClass') %>:</strong>
  <%= @excecao.acao.classe %>
  <br>

<% end %>


<% if @excecao.parametros.present? %>
  <strong><%= t('exception.params') %>:</strong>
  |<% @exceao.parametros.each do |parametro| %>
    <%= parametro.name %> |
  <% end %>
  <br>
<% end %>  

<% if @excecao.http.present? %>
  <p>
  <strong><%= t('exception.referer') %>:</strong>
  <%= @excecao.http.referer %>
  <br>

  <p>
  <strong>Url:</strong>
  <%= @excecao.http.url %>
  <br>

  <p>
  <strong><%= t('exception.viewMethod') %>:</strong>
  <%= @excecao.http.method %>
  <br>
<% end %>


<% if @excecao.sessao.present? %>
  <p>
  <strong><%= t('exception.sessionObject') %>:</strong>
  <%= @excecao.sessao.obj_sessao.obj_text %>
  <br>
<% end %>
<% if current_developer.admin && @dono_excecao.present?%>
  <%= render "dono_excecaos/edit", dono_excecao: @dono_excecao %>
<% end %>

<%= link_to t('back'), projects_path %>