<%= form_with(model: dono_excecao, local: true) do |form| %>
  <% if dono_excecao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dono_excecao.errors.count, "error") %> prohibited this dono_excecao from being saved:</h2>

      <ul>
      <% dono_excecao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :developer_id %>
    <%= form.select :developer_id, @developers.collect { |developer| [developer.email, developer.id] }  %>
  </div>

  <div class="field">
    <%= form.check_box :solved %>
    <%= form.label :solved %>
  </div>

  <div class="field">
    <%= form.label :evaluate %>
    <%= form.select :evaluate, DonoExcecao.evaluates.keys.map {|evaluate| [evaluate.titleize, evaluate]} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>