<p id="notice"><%= notice %></p>

<p>
  <strong>Exceção:</strong>
  <%= @dono_excecao.excecao.error %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @dono_excecao.developer.email %>
</p>

<%= link_to 'Edit', edit_dono_excecao_path(@dono_excecao) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'Home', root_path %>