<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var graphValues = [];
    graphValues.push(['Month', 'Solved', 'New Exceptions']);
    <% @data.each_with_index do |dataValues, index| %>
      graphValues.push([new Date(<%= dataValues[0] %>), <%= dataValues[1] %>, <%= dataValues[2] %>]);
    <%end%>

    var data = google.visualization.arrayToDataTable(
      graphValues
      // ['Month', 'Solved', 'New'],
      // ['2004',  1000,      400],
      // ['2005',  1170,      460],
      // ['2006',  660,       1120],
      // ['2007',  1030,      540]
    );

    var options = {
      title: 'Quantidade por mês de Exceções Resolvidas X Não Resolvidas',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
</script>
<strong><%= t('project.name') %>:</strong>
<%= @project.name %>
<br>
<strong><%= t('report.average_exception_solved') %>:</strong>
<%= @average_exception_solved_time %> horas
  <br>

<strong><%= t('report.pending_exceptions') %>:</strong>
<%= @pending_exceptions %>
  <br>

<strong><%= t('report.solved_exceptions') %>:</strong>
<%= @solved_exceptions %>
  <br>

<strong><%= t('report.average_new_exceptions_per_month') %>:</strong>
<%= @average_new_exceptions_per_month %>
  <br>

<strong><%= t('report.average_exceptions_solved_per_month') %>:</strong>
<%= @average_exceptions_solved_per_month %>
  <br>
  <br>

<strong><%= t('report.average_exception_solved_per_member') %>:</strong>
<table class="responsive nowrap table table-hover" id="solved_per_member_report" data-sort="true">
  <thead>
    <tr>
      <th><%= t('report.email') %> </th>
      <th><%= t('report.average_exception_solved') %>(horas)</th>
    </tr>
  </thead>
  <% @average_exception_solved_per_member_time[:developers].each_with_index do |developer, index| %>
  <tr>
    <td><%= developer %>:</td><td> <%= @average_exception_solved_per_member_time[:time][index] %></td>
  </tr>
  <% end %>
</table>
<br>

<div id="curve_chart" style="width: 900px; height: 500px"></div>


<%= link_to t('back'), @project %>

<script>
  $(document).ready( function () {
    $('#solved_per_member_report').DataTable();
  } );
</script>