<h1>Projects</h1>

<table class="responsive nowrap table table-hover" id="dttb-projects" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="name">Name</th>
      <th></th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
    <% @projects.each do |project|%>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to 'Detalhes', project %></td>
      </tr>
    <% end %>
  </thead>

</table>

<br>

<%= link_to 'New Project', new_project_path %>
<%= link_to 'Voltar', root_path %>