<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
  <br>
  <%
=begin%>
 <strong>Exceções:</strong> 
<%
=end%>
    <table class="responsive nowrap table table-hover" id="dttb-projects" data-sort="true" data-source="<%= url_for(format: :json)%>">
    <thead>
      <tr>
        <th data-data="error">Error</th>
        <th data-data="error">Responsável</th>
        <th data-data="created_at">Ocorrências</th>
        <th></th>
        <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
      </tr>
      <% @excecaos.each_with_index do |excecao, index| %>
        <tr>
          <td><%= excecao.error %></td>
          <td><% if excecao.dono_excecao.present? && excecao.dono_excecao.developer.present? %>
            <%= excecao.dono_excecao.developer.email %>
          <% end %></td>
          <td><%= @excecaos_count[index] %></td>
          <td><%= link_to 'Detalhes', excecao %></td>
        </tr>
      <% end %>
    </thead>

  </table>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> |
<%= link_to 'Home', root_path %>
