<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('project.name') %>:</strong>
  <%= @project.name %>
  <br>
  <%
=begin%>
 <strong>Exceções:</strong> 
<%
=end%>
    <div class="pc-tab">
      <input checked="checked" id="tab1" type="radio" name="pct" />

      <input id="tab2" type="radio" name="pct" />

      <input id="tab3" type="radio" name="pct" />
      <nav>
        <ul>
          <li class="tab1">
            <label for="tab1"><%= t('project.notAssigned') %></label>
          </li>

          <li class="tab2">
            <label for="tab2"><%= t('project.assigned') %></label>
          </li>

          <li class="tab3">
            <label for="tab3"><%= t('project.solved') %></label>
          </li>
        </ul>
      </nav>
      <section>
        <div class="tab1 graph">
          <table class="responsive nowrap table table-hover" id="table_n_atribuido" data-sort="true">
          <thead>
            <tr>
              <th data-data="error">Error</th>
              <th data-data="email"><%= t('project.owner') %></th>
              <th data-data="created_at"><%= t('project.occurrences') %></th>
              <th></th>
            </tr>
          </thead>
          <% @excecaos_n_atribuido.each_with_index do |excecao, index| %>
            <tr>
              <td><%= excecao.error %></td>
              <td><% if excecao.dono_excecao.present? && excecao.dono_excecao.developer.present? %>
                <%= excecao.dono_excecao.developer.email %>
              <% end %></td>
              <td><%= @excecaos_n_atribuido_count[index] %></td>
              <td><%= link_to 'Detalhes', excecao %></td>
            </tr>
          <% end %>
        </table>
        </div>

        <div class="tab2 graph">
          <table class="responsive nowrap table table-hover" id="table_atribuido" data-sort="true">
          <thead>
            <tr>
              <th data-data="error">Error</th>
              <th data-data="email"><%= t('project.owner') %></th>
              <th data-data="created_at"><%= t('project.occurrences') %></th>
              <th></th>
            </tr>
          </thead>
          <% @excecaos_atribuido.each_with_index do |excecao, index| %>
            <tr>
              <td><%= excecao.error %></td>
              <td><% if excecao.dono_excecao.present? && excecao.dono_excecao.developer.present? %>
                <%= excecao.dono_excecao.developer.email %>
              <% end %></td>
              <td><%= @excecaos_atribuido_count[index] %></td>
              <td><%= link_to 'Detalhes', excecao %></td>
            </tr>
          <% end %>
        </table>
        </div>

        <div class="tab3 graph">
          <table class="responsive nowrap table table-hover" id="table_pronto" data-sort="true">
          <thead>
            <tr>
              <th data-data="error">Error</th>
              <th data-data="email"><%= t('project.owner') %></th>
              <th data-data="created_at"><%= t('project.occurrences') %></th>
              <th></th>
            </tr>
          </thead>
          <% @excecaos_resolvido.each_with_index do |excecao, index| %>
            <tr>
              <td><%= excecao.error %></td>
              <td><% if excecao.dono_excecao.present? && excecao.dono_excecao.developer.present? %>
                <%= excecao.dono_excecao.developer.email %>
              <% end %></td>
              <td><%= @excecaos_resolvido_count[index] %></td>
              <td><%= link_to 'Detalhes', excecao %></td>
            </tr>
          <% end %>
        </table>
        </div>
      </section>
    </div>
</p>

<%= link_to t('edit'), edit_project_path(@project) %> |
<%= link_to t('back'), projects_path %>


<script>
  $(document).ready( function () {
    $('#table_atribuido').DataTable();
  } );

  $(document).ready( function () {
    $('#table_n_atribuido').DataTable();
  } );

  $(document).ready( function () {
    $('#table_pronto').DataTable();
  } );
</script>