<!DOCTYPE html>
<html>
  <head>
    <title>Tccserver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <%= raw Daru::View.dependent_script(:highcharts) %>


  </head>
<div class="header">
  <div class="header-left">
    <a href="<%= root_path%>"><h1><%= t('appTittle') %></h1></a>
  </div>
  <div class="header-right">
    <%= link_to "en", locale: "en" %>
    <%= link_to "pt", locale: "pt" %>
  </div>
</div>
  <body>
    <div class="container core-page col-lg-4 col-md-4">
      <nav class="navbar navbar-light bg-light hamburguer-menu_container">
        <div class="header">
          <div class="header-left">
            <a href="<%= root_path%>"><h1><%= t('appTittle') %></h1></a>
          </div>
          <div class="header-right">
            <%= link_to "en", locale: "en" %>
            <%= link_to "pt", locale: "pt" %>
          </div>
        </div>
        <div>
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
          aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
          <%= render 'layouts/menu' %>
      </nav>
      
      <div class="vertical-menu_container">
        <%= render 'layouts/menu' %>
        <div class="container core-screen">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>  
          <%= yield %>
        </div>

      </div>
    </div>
  </body>
</html>