<!DOCTYPE html>
<html>
  <head>
    <title>Tccserver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="container core-page">
      <div class="vertical-menu_container">
        <% if developer_signed_in? %>
          <div class="vertical-menu">
            <%= link_to 'Projetos', projects_path %>
            <% if current_developer.team.present? && current_developer.team.project.present? %>
              <li class="list-group-item"><%= link_to 'Meu Projeto', project_path(current_developer.project) %></li>
            <% end %>
            <% if current_developer.admin %>
              <%= link_to 'Criar Novo Projeto', new_project_path %>
            <% end %>
          </div>
        <% end %>
        <% if developer_signed_in? && current_developer.admin %>
          <div class="breakitem"></div>
          <div class="vertical-menu">
            <%= link_to 'Equipes', teams_path %>
            <%= link_to 'Criar Equipe', new_team_path %>
          </div> 
        <% end %>
        <% if developer_signed_in? && current_developer.admin %>
          <div class="breakitem"></div>
          <div class="vertical-menu">               
            <%= link_to 'Desenvolvedores', developers_path %>
            <%= link_to 'Convidar Desenvolvedores', new_developer_invitation_path %>
          </div>
        <% end %>
        <% if developer_signed_in? %>
          <div class="breakitem"></div>    
          <div class="vertical-menu">
            <%= link_to "Log out", destroy_developer_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="vertical-menu">
            <%= link_to "Log in", new_developer_session_path %>
          </div>
        <% end %>
        </div>
        <div class="container">
          <h1>Bem vindo ao Monitorador de Exceções</h1>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
