<!DOCTYPE html>
<html>
  <head>
    <title>Tccserver</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <%= raw Daru::View.dependent_script(:highcharts) %>


  </head>

  <body>
    <div class="container core-page col-lg-4 col-md-4">
      <nav class="navbar navbar-light bg-light hamburguer-menu_container">
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
          aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
          <%= render 'layouts/menu' %>
      </nav>
      
      <div class="vertical-menu_container">
        <%= render 'layouts/menu' %>
        <div class="container core-screen">
          <h1><%= t('appTittle') %></h1>
          <%= yield %>
        </div>

      </div>
    </div>
  </body>
</html>